body {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#clock {
  background-color: aliceblue;
  font-size: 70px;
  font-weight: bolder;
  position: absolute;
  top: 30px;
  border: 3px solid black;
  padding: 10px;
}

#login-form {
  position: absolute;
  top: 180px;
}
#username-form {
  position: absolute;
  top: 187px;
}
#login-form input {
  outline: none;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
}
#login-form button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#greeting {
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: 3px solid white;
  padding: 10px;
}
#reLogin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#todo-form {
  position: absolute;
  top: 270px;
}

#todo-form input {
  height: 50px;
  width: 250px;
  border-radius: 25px;
  text-align: center;
}

#todo-list {
  padding-left: 0px;
  position: absolute;
  top: 320px;
  height: 300px;
  width: auto + 50px;
  overflow: auto;
}

#todo-list::-webkit-scrollbar {
  width: 10px;
}

#todo-list::-webkit-scrollbar-track {
  background-color: white;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-radius: 100px;
}

#todo-list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: black;
}

#todo-list li {
  position: relative;
  background-color: white;
  padding: 5px;
  margin-top: 13px;
  margin-bottom: 15px;
  margin-right: 17px;
  list-style: none;
  font-size: 30px;
}

#todo-list li button {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -12.5px;
  right: -12.5px;
  border-radius: 50%;
}

#quote {
  background-color: aliceblue;
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 10px;
}
#quote span:first-child {
  font-size: 15px;
}
#quote span:last-child {
  font-size: 13px;
}
